@use 'sass:math';
@import '../../styles/settings.scss';

.column {
  width: calc(33% - 12px);
  background: $color-light;
  margin: 0 auto;
  padding: ($base-size * 1.5);
  border-radius: $radius;
  box-shadow: 0 math.div($base-size, 4) 0 rgba(0, 0, 0, 0.3);
  color: $color-dark;

  &:last-child {
    justify-content: center;
    align-items: center;
  }
}

.cards {
  padding: math.div($base-size, 2) 0;
}

@media (max-width: 910px) {
}